.login-container {
  display: flex;
  height: 100vh;
}

.banner-section {
  flex: 1;
  background: url('./assets/telenavi.png') center/cover no-repeat;
}

.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #fff;
}

input {
  width: 100%;
  max-width: 350px;
  padding: 12px 16px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

button {
  width: 100%;
  max-width: 350px;
  padding: 12px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 16px;
}

/* mobile <= 768px */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    background: url('./assets/telenavi.png') center/cover no-repeat;
  }
  
  .banner-section {
    display: none;
  }
  
  .form-section {
    min-height: 100vh;
    padding: 20px;
    background: rgba(0, 0, 0, 0.65);
  }
  
  input, button {
    max-width: 100%;
  }

  *{
    color: white;
  }

  span{
    color: #1861B5;
  }
}