.login-container{
  display: flex;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.banner-section{
  flex: 1;
  background:image('./assets/telenavi.png');
}

.form-section{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #fff;
}

input{
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 16px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #CD3301;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 16px;
}

button:hover{
  opacity: 0.9;
}

.error{
  color: red;
  font-size: 12px;
  margin-top: -12px;
  margin-bottom: 8px;
}

/* mobile <= 768px */
@media (max-width: 768px) {
  .login-container{
    flex-direction: column;
    background: image('./assets/telenavi.png' center/cover);
  }

  .banner-section{
    display: none;
  }

  .form-section{
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.95);
    min-height: 100vh;
  }
}